{
  "presets":[
    ["env", {
      "modules": false,
      "targets": {
        "browsers": [
           "ie>=6",
           "Firefox>=3.6",
           "Safari>3.0",
           "Opera>9.0",
           "Android>4.0",
           "IOS>8"
        ]
      }
    }]
  ],
  "plugins": [
    ["transform-runtime",{
      "helpers": false,
      "polyfill": false,
      "regenerator": false,
      "moduleName": "babel-runtime"
    }],
    "transform-object-assign"
  ]  
}